.header {
  display: flex;
  height: 70px;
  width: 100%;
  background: #f2f4f4;
  border-bottom: 1px solid #c7cfd6;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  align-items: center;

  .label {
    margin-left: 25px;
    font-size: 23px;
  }

  .avatar-block {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
}
