.sub-menu {
  display: none;
  .sub-menu-content {
    background: #50749d;
    color: #fff;
    border-radius: 4px 0px 4px 4px;
    padding: 10px 10px;
    width: 145px;
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
  img {
    margin-right: 10px;
  }
}
.settings:hover {
  .sub-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 44px;
    padding-top: 25px;
  }
  .triangle {
    top: 15px;
    right: 0px;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid #50749d;
    border-left: 7px solid transparent;
  }
}
